name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.11]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.3.0
      - name: Install
        run: poetry install && echo "$(poetry env info --path)/bin" >> $GITHUB_PATH
      - name: Test
        run: poetry run pytest -v
      - name: Fmt
        run: poetry run ruff format . --check
      - name: Ruff
        run: poetry run ruff check .
      - name: Deptry
        run: poetry run deptry .
      - uses: jakebailey/pyright-action@v1
        if: ${{ matrix.os != 'windows-latest' }}
